@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="light"] {
    --color-fill: 255, 255, 255;
    --color-text-base: 17, 24, 39;
    --color-accent: 0, 108, 172;
    --color-card: 249, 250, 251;
    --color-card-muted: 243, 244, 246;
    --color-border: 229, 231, 235;
    --color-text-muted: 107, 114, 128;
    --color-text-inverted: 255, 255, 255;
    --color-button-accent: 0, 108, 172;
    --color-button-accent-hover: 0, 88, 152;
    --color-button-muted: 243, 244, 246;
    --color: 17, 24, 39;
    --muted: 107, 114, 128;
  }

  html[data-theme="dark"] {
    --color-fill: 17, 24, 39;
    --color-text-base: 243, 244, 246;
    --color-accent: 255, 107, 1;
    --color-card: 31, 41, 55;
    --color-card-muted: 55, 65, 81;
    --color-border: 75, 85, 99;
    --color-text-muted: 156, 163, 175;
    --color-text-inverted: 17, 24, 39;
    --color-button-accent: 255, 107, 1;
    --color-button-accent-hover: 234, 88, 12;
    --color-button-muted: 55, 65, 81;
    --color: 243, 244, 246;
    --muted: 156, 163, 175;
  }
}

.print {
  display: none;
}

@media print {
  .print {
    display: block;
  }
  .no-print {
    display: none;
  }
}